.clock {
    color: black;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}

.time-bar {
    height: 20px;
    width: var(--time-bar-width);
    background-color: red;
    border: 1px solid red;
}