<div class="visibility" style="--countdown-visibility:@countdownVisibility">
    <div class = "clock">
        <h1>@Time</h1>
    </div>

    <div class="time-bar" style="--time-bar-width:@TimeBarWidthStyle"> </div>    
</div>


