@page "/addquestion"
@using QuizGame.Data.DTOs
@using QuizGame.Data.Entities
@rendermode InteractiveServer
@using QuizGame.Services
@inject IQuestionService QuestionService
@inject ICategoryService CategoryService

<PageTitle>Add a new Question</PageTitle>

<h1>Add a New Question Here!</h1>

@if (_categoriesLoaded)
{
    <EditForm Model="@_questionDto" OnSubmit=@SubmitForm>
        <div>
            <label>
                Question:
                <InputText @bind-Value="_questionDto.QuestionText" />
            </label>
        </div>

        <div>
            <label>
                Correct Answer:
                <InputText @bind-Value="_questionDto.Answer" />
            </label>
        </div>

        <div>
            <label>
                Wrong Answer 1:
                <InputText @bind-Value="_questionDto.WrongChoices[0]" />
            </label>
        </div>

        <div>
            <label>
                Wrong Answer 2:
                <InputText @bind-Value="_questionDto.WrongChoices[1]" />
            </label>
        </div>

        <div>
            <label>
                Wrong Answer 3:
                <InputText @bind-Value="_questionDto.WrongChoices[2]" />
            </label>
        </div>

        <div>
            <label>
                Question Category:
                <InputSelect @bind-Value="@_questionDto.CategoryId">
                    @foreach (var category in _categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </InputSelect>
            </label>
        </div>
    
        <input type="Submit" value="Submit" class="btn btn-primary"/>
    </EditForm>
}


@code {
    private bool _categoriesLoaded = false;
    private List<Category>? _categories;

    QuestionDto _questionDto = new QuestionDto
    {
        QuestionText = null,
        Answer = null,
    };

    protected override async Task OnInitializedAsync()
    {
        _categories = await CategoryService.GetCategories();
        _categoriesLoaded = true;
    }

    public async Task SubmitForm()
    {
        await QuestionService.AddQuestion(_questionDto);
        _questionDto.QuestionText = null;
        _questionDto.Answer = null;
        _questionDto.WrongChoices = new string[3];
        _questionDto.CategoryId = 0;
    }
    
}