@page "/single-player"
@using System.Timers
@using QuizGame.Data.Entities
@using QuizGame.Services
@inject IQuestionService QuestionService;
@rendermode InteractiveServer

@{/*
   // 2. Change it so that when you hit the last question -- the timer stops and the buttons become unresponsive
   // and a new button pops up to restart the game
   // 3. Change it so that when you hit the 0 on the timer, you auto go to the next question and restart timer
*/}

<h3>Single Player Mode</h3>

@if (_loadedQuestion is not null && !_gameStarted)
{
    <p>Welcome to single player mode. You will have ten seconds to answer each question. 
        The quicker you answer the question, the higher your score will be. The questions are
        all multiple choice.
    </p>

    <button @onclick="StartGame">Start Game</button>    
}

@if (_loadedQuestion is not null && _gameStarted)
{
    <p>Question #@_questionCount: @_loadedQuestion.QuestionText</p>

    <ul>
        @foreach(string choice in multipleChoices)
        {
            <li>
                <button class="btn btn-primary" @onclick="() => SelectAnswer(choice)">@choice</button>
            </li>
        }
    </ul>
}

<Countdown @ref="timer" />

@if (_outOfQuestions)
{
    <p> OUT OF QUESTIONS </p>
    <p>Your score is: @_score</p>
}


@code {
    private List<Question>? _questions;
    private Question? _loadedQuestion;
    private int _questionCount { get; set; } = 1;
    private bool _outOfQuestions;
    private bool _gameStarted;
    private int _score;
    
    protected Countdown timer;
    
    private List<string> multipleChoices {
        get
        {
            List<string> list = [.._loadedQuestion.WrongChoices, _loadedQuestion.Answer];
            var shuffledList = list.OrderBy(x => Guid.NewGuid()).ToList();
            return shuffledList;
        }
    } 
    
    protected override async Task OnInitializedAsync()
    {
        _questions = await QuestionService.GetAllQuestionsAsync();
        if (_questions != null) _loadedQuestion = _questions[0];
    }

    private void TimerOutCallback()
    {
    }

    public void StartGame()
    {
        timer.Start(10, 200);
        timer.countdownVisibility = "visible";
        _gameStarted = true;
    }
    
    public void SelectAnswer(string choice)
    {
        if (choice == _loadedQuestion.Answer)
        {
            _score += timer.TimeBarWidthNumber;
        }
        
        LoadNextQuestion();
        timer.Start(10, 200);

    }

    public void LoadNextQuestion()
    {
        try
        {
            _loadedQuestion = _questions[_questionCount];
            _questionCount++;
        }
        catch (ArgumentOutOfRangeException e)
        {
            _outOfQuestions = true;
        }
    }
    
    
}
