@page "/single-player"

@{/*
    Single Player Mode - Should feed you the questions. Should let you choose which one you want.
    Should time you. Score should be based on time. Maybe a diminishing bar to represent time left.
    Should give you your score at the end.
*/}

<h3>SinglePlayer</h3>

@code {
    
}